/* ==========================================================================
   CSS UNTUK KOMPONEN EMPTY STATE
   Digunakan oleh resources/views/components/c-shared/empty-state.blade.php
   ========================================================================== */

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 32px !important;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.empty-state-icon svg {
    width: 74px;
    height: 74px;
}

.empty-state-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.empty-state-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--C-Black);
}

.empty-state-desc {
    font-size: 15px;
    font-weight: 400 !important;
    color: var(--C-Black-Second);
    max-width: 100%;
    line-height: 1.5;
}

body.dark-mode .empty-state-title {
    color: var(--C-White-LM) !important;
}

body.dark-mode .empty-state-desc { 
    color: var(--C-Seccond-Text-DM) !important; 
}

.empty-state-icon .icon-dark { display: none; }
body.dark-mode .empty-state-icon .icon-light { display: none; }
body.dark-mode .empty-state-icon .icon-dark { display: block; }
